<nav class="headback">
    <span class="headerstyle" >Handset Blocking Tool</span>
</nav>
<div class="col-sm-12 row blockform">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"> 
        <form >          
            <div>
              <br>   
                <textarea matInput class="textareacss" required 
                placeholder="111222 333"></textarea>
            </div>  
            
            <button type="button" (click)="UpdateImeiList()"  class="btn form-control buttoncolor"> Submit
            </button><br><br>
          
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>
<ng-container>
    <nav class="footerback">
    <span class="footerstyle" >    © Copyright 2021. All Rights Reserved</span>
    </nav>
</ng-container>
